# ──── Database ────
POSTGRES_USER=YOUR-POSTGRES-USER
POSTGRES_PASSWORD=YOUR-POSTGRES-PASSWORD
POSTGRES_DB=YOUR-POSTGRES-DB
DATABASE_URL=postgresql+asyncpg://YOUR-POSTGRES-USER:YOUR-POSTGRES-PASSWORD@localhost:PROT-NUMBER/LLM-DB

# ──── Auth ────
SECRET_KEY=YOUR-SECRET-KEY

# ──── HuggingFace Local Model (CPU) ────
HF_MODEL_NAME=YOUR-HF-MODEL-NAME
